{# Calling the parent template: #}
{% extends "template_gabbler.html.twig" %}

{#Importing macro/macros: #}
{% import "formMacro.twig" as formComponent %}

{#The first block to override is the header: #}
{% block header %}
<img class="LogoGabbler" src="img/RougeWhiteMode.png">
<h2>Hello Friend !</h2>
<h3 class="signIn">Do you want to chat with us ? </h3>
{% endblock %}

{#the second block to override is the center within the content: #}
{% block center %}
    
    {{ warning }}
        <div class="formHome">
            <h2>Sign In</h2>

        <form class="container1" method = "POST">
        
            <div class="row mb-3">
                {{formComponent.input("text","nickname_user","Full name","name")}}
            </div>
            <div class="row mb-3">
                {{formComponent.input("password","pwd_user","Password","password")}}
            </div>
            <div class="row">
                <button class="m-auto" type="submit" name="signin" id="button">Login</button> 
            </div> 
        </form>
        </div>
        <br>
        <br>
        <br>

{#Since there is no desing to base work on, both forms have the same components!! No worries, macros will make leife easier later. #}
        <div class="formHome">
        <h2>Sign Up</h2>
        <form class = "container2" method = "POST">
        
            <div class="row mb-3">
                {{formComponent.input("text","nickname_user","Full name","name")}}
            </div>
            <div class="row mb-3">
                {{formComponent.input("password","pwd_user","Password","password")}}
            </div>
            <div class="row mb-3">
                {{formComponent.input("password","pwd_user2","Confirm your password","password2")}}
            </div>
            <div class="row mb-3">
             {{formComponent.input("email","mail_user","Mail address","mailaddress")}}
            </div>
        
            <div class="row mb-3">
                <button class="m-auto" type="submit" name="signup" id="button">Sign up</button> 
            </div>
        </form>
    </div>
        <div>
            <a class="help" href="?help" name="help">Need help?</a> 
        </div> 
{% endblock %}


