{# Calling the parent template: #}
{% extends "template_gabbler.html.twig" %}

{#Importing macro/macros: #}
{% import "formMacro.twig" as formComponent %}

{#The first block to override is the header: #}
{% block header %}
    <div class="container mt-5 mb-5">
        <img class="LogoGabbler" src="img/RougeWhiteMode.png">
    </div>
{% endblock %}

{#the second block to override is the center within the content: #}
{% block center %}

    <div class="container divHome">
        <div class="row align-items-center h-100">
            {{ warning }}
            <div class="formHome col h-100 justify-content-center">
                <h2>Sign In</h2>

                <form class="container w-75" method="POST">

                    <div class="row mb-3">
                        {{ formComponent.input("text","nickname_user","Full name","name") }}
                    </div>
                    <div class="row mb-3">
                        {{ formComponent.input("password","pwd_user","Password","password") }}
                    </div>
                    <div class="row position-relative top-0 start-50">
                        <button class="m-auto red rounded-3 pull-right bit-left" type="submit" name="signin" id="button">Login</button>
                    </div>
                </form>
            </div>

            {#Since there is no desing to base work on, both forms have the same components!! No worries, macros will make leife easier later. #}
            <div class="formHome col h-100 justify-content-center">
                <h2>Sign Up</h2>
                <form class="container w-75" method="POST">

                    <div class="row mb-3">
                        {{ formComponent.input("text","nickname_user","Full name","name") }}
                    </div>
                    <div class="row mb-3">
                        {{ formComponent.input("password","pwd_user","Password","password") }}
                    </div>
                    <div class="row mb-3">
                        {{ formComponent.input("password","pwd_user2","Confirm your password","password2") }}
                    </div>
                    <div class="row mb-3">
                        {{ formComponent.input("email","mail_user","Mail address","mailaddress") }}
                    </div>
                    <div class="position-relative top-0 end-50">
                        <a class="help" href="?help" title="help">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="row mb-3 position-relative top-0 start-50">
                        <button class="m-auto red rounded-3 float-end pull-right bit-left" type="submit" name="signup" id="button">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


